name: Deploy Dist
on: [push,workflow_dispatch]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Get code
              uses: actions/checkout@v6    
            - name: Install Node 20
              uses: actions/setup-node@v6
              with:
                node-version: 20
            - name: print node version
              run: node -v
            - name: Cache dependices
              uses: actions/cache@v4
              with:
                path: ~/.npm   
                keys: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
            - name: Install dependencies
              run: npm ci
            - name: Run test
              run: npm run test
    Deploy:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Get code
              uses: actions/checkout@v6
            - name: Install Node 20
              uses: actions/setup-node@v6
              with:
                node-version: 20
            - name: print node version
              run: node -v
            - name: Cache dependices
              uses: actions/cache@v4
              with:
                path: ~/.npm   
                keys: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
            - name: Install dependencies
              run: npm ci
            - name: Build Project
              run: npm run build
            - name: Deploy
              run: echo "Deploying project sucessfully"